{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'appi/custom.css' %}" rel="stylesheet" />
    <title>Logged out</title>
  </head>
  <body>
    <p>Looks like you logged out!</p>
  </body>
</html>
