{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'appi/custom.css' %}" rel="stylesheet" />
    <title>Login</title>
  </head>
  <body>
    <!-- begin login form -->
    <div>
      <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <div>
        <input id="{{ form.username.id_for_label }}" maxlength="30", name="{{ form.username.html_name }}" placeholder="Username" type="text" />
      </div>
      <div>
        <input id="{{ form.password.id_for_label }}" maxlength="30", name="{{ form.password.html_name }}" placeholder="Password" type="password" />
      </div>
      <input type="submit" value="Log in" />
      <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
    <!-- end login form -->
  </body>
</html>
